In [ ]:
** Calculate the multiplication and sum of two numbers

In [74]:
num1=input("enter num1: ")
num2=input("enter num2: ")
sum_num = int(num1)+int(num2)
multi_num = int(num1)*int(num2)
print("the sum of 2 nums is",sum_num)
print("the multiplication of 2 nums is", multi_num)

enter num1: 156446
enter num2: 46116
the sum of 2 nums is 202562
the multiplication of 2 nums is 7214663736

In [ ]:
** Print characters from a string that are present at an even index number

In [ ]:
string= input("enter any string: \n")                          # ask for string input
print("new string is:",string[1::2])                           # printing the even index number of string

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
# using len() 
string= input("enter any string: \n")                                          # ask for string input
print("the string length is: ",len(string))                                       # printing the length of string

In [14]:
#using for char in string
string= input("enter any string: \n")                                          # ask for string input
i = 0
for char in string:
    i += 1
print("the string length is: ",i)                                             # printing the length of string

enter any string:
okba
the string length is:  4

In [13]:
# Using the sum() function with a generator expression
string= input("enter any string: \n")                                          # ask for string input
print("the string length is: ", sum(1 for i in string))

enter any string:
okba
the string length is:  4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'Expected Result : 'w3ce'##Sample String : 'w3'
Expected Result : 'w3w3'##Sample String : ' w'Expected Result : Empty String)

In [7]:
Sample_String=input("enter sample string: ")
print("Sample String : ",Sample_String)
if len(Sample_String) < 2:
    print("Expected Result : ", "")  
else:
    print("Expected Result : ", Sample_String[:2] + Sample_String[-2:])

enter sample string: w
Sample String :  w
Expected Result :

In [6]:
string=input("enter sample string: ")
print("Sample String : ",string)
def New_string(string):
    if len(string) < 2:
        return ""
    else:
        return string[:2] + string[-2:]
print ('New_string is: ', New_string(string))

enter sample string: w
Sample String :  w
New_string is:

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [8]:
string=input("enter sample string: ")
print("sample string: ",string)
if len(string) >= 3 and string[-3:]== "ing":
      print ('New_string is:', string[:-3]+"ly")
elif len(string) >= 3 and string[-3:]!= "ing":
        print ('New_string is:', string + "ing")
else:
       print ('New_string is:', string)

enter sample string: abc
sample string:  abc
New_string is: abcing

In [11]:
string=input("enter sample string: ")
print("sample string: ",string)
def New_string(string):
    if len(string) >= 3 and string[-3:]== "ing":
        return string[:-3]+"ly"
    elif len(string) >= 3 and string[-3:]!= "ing":
        return string + "ing"
    else:
        return string
print ('New_string is:', New_string(string))

enter sample string: abcing
sample string:  abcing
New_string is: abcly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [45]:
text = input("Please input words and spacing betn each word : ")
print("list of words: ",text.split())  
longest = 0
for words in text.split():
    if len(words) > longest:
        longest = len(words)
        longest_word = words

print("The longest word is", longest_word, "with length", len(longest_word))

Please input words and spacing betn each word : PHP Exercises Backend
list of words:  ['PHP', 'Exercises', 'Backend']
The longest word is Exercises with length 9

In [50]:
text = input("Please input words and spacing betn each word : ")
print("list of words: ",text.split()) 

word_len = []  
for n in text.split():  
    word_len.append((len(n), n))  
    word_len.sort()  
print("The longest word is", word_len[-1][1], "with length", len(word_len[-1][1]))

Please input words and spacing betn each word : PHP Exercises Backend
list of words:  ['PHP', 'Exercises', 'Backend']
The longest word is Exercises with length 9

In [46]:
def find_longest_word(text):
    longest_word = max(text.split(), key = len)
    return longest_word, len(longest_word)
text= input("Please input words and spacing betn each word : ")
print("list of words: ",text.split())
print("The longest word  and its length is" , find_longest_word(text))

Please input words and spacing betn each word : PHP Exercises Backend
list of words:  ['PHP', 'Exercises', 'Backend']
The longest word  and its length is ('Exercises', 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abce  Expected Result:ebca)

In [52]:
str1=input("enter any string: ")
change_string=str1[-1:] + str1[1:-1] +str1[:1] 
print("new_string after changing is:", change_string)

enter your string: abce
new_string after changing is: ebca

In [53]:
g_string=input("enter any string: ")

new_string1= g_string.replace(g_string[0],g_string[-1])
new_string2= g_string.replace(g_string[-1],g_string[0])
new_string=new_string1[0:-1]+new_string2[-1]
print("new_string after changing is:" + new_string)

enter any string: abce
new_string after changing is:ebca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [75]:
string=input("enter any string: ")
New_string=""
for i in str1[::2]:
    New_string+=i    
print("new_string is:",New_string)

enter any string: abca
ac

In [76]:
str1=input("enter any string: ")
New_string=""
for i in range(0,len(str1),2) :
    New_string+=str1[i]
print("new_string is:",New_string)

enter any string: abca
new_string is: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
str1= input ('enter the sentence:\n') 
str2= input('enter the word you need to count:\n')
print("the count of word you need is:",str1.count(str2))

In [87]:
str1= input("enter the sentence: ") 
new_str1=set(str1.split())
print ("Set of words: ",new_str1)
for i in new_str1:
    occu=str1.count(i)
    print(i,"is appeared ",occu)

enter the sentence: amr and ahmed are frindes but amr is the tallest
Set of words:  {'are', 'the', 'ahmed', 'frindes', 'tallest', 'is', 'amr', 'but', 'and'}
are is appeared  1
the is appeared  1
ahmed is appeared  1
frindes is appeared  1
tallest is appeared  1
is is appeared  1
amr is appeared  2
but is appeared  1
and is appeared  1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [88]:
str1=input("enter any string:\n")
print("the uppercase of string is: ",str1.upper())
print("the lowercase of string is: ",str1.lower())
print("the swapcase of string is: ",str1.swapcase())

enter any string:
MAhmoud HaSSAn OkbA
the uppercase of string is:  MAHMOUD HASSAN OKBA
the lowercase of string is:  mahmoud hassan okba
the swapcase of string is:  maHMOUD hAssaN oKBa

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [93]:
str1=input('enter your string: ')
print("original string is: ",str1)
if len(str1) % 4 == 0:
    new_string=str1[::-1] 
    print("your new string is:",new_string)
else:
    print("your string length isn't multiple of 4")

enter your string: okba
original string is:  okba
your new string is: abko

In [95]:
str1=input('enter your string: ')
new=list(str1)
if len(str1) % 4 == 0:
    new_string=''.join(reversed(str1))
    print("your new string is:",new_string)
else:
    print("your string length isn't multiple of 4")

enter your string: mahmoud
your string length isn't multiple of 4

**10- Write a Python program to remove a newline in Python

In [48]:
sample_text ="\n\n hello! \n how are you?\n"
#sample_text=input(" enter any text: ")
print("text before: ", sample_text)
print("new text is: ", sample_text.replace("\n",""))

 enter any text: \n\n hello! \n how are you?\n
text before:  \n\n hello! \n how are you?\n
new text is:  \n\n hello! \n how are you?\n

In [42]:
sample_text ="\n\n hello! \n how are you?\n"
#sample_text=input(" enter any text: ")
print("text before: ", sample_text)
print("new text with strip fn is: ", sample_text.strip())           # str.strip()or str.strip('\n') ,remove all whitespace from start/end of string.
print("new text with rstrip fn is: ", sample_text.rstrip())         #str.rstrip()or str.rstrip('\n'),remove all newline for the end of string.
print("new text with lstrip fn is: ", sample_text.lstrip())         #str.lstrip()or str.lstrip('\n'),remove all whitespaces for the start of string.

text before:

hello!
 how are you?

new text with strip fn is:  hello!
 how are you?
new text with rstrip fn is:

hello!
 how are you?
new text with lstrip fn is:  hello!
 how are you?

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
string1=input("enter any string: \n")
char1=input("enter the character you need to compare: \n")
if char1==string1[0]:
    print ("it is okay")
else:
    print ("it is wrong")

**12- Write a Python program to add prefix text to all of the lines in a string

In [62]:
prefix= '*'
sample_text ='''
my name is mahmoud okba 
works as senior qc engineer
'''
print("sample_text after splitting",sample_text.split('\n'))
result = '\n'.join(prefix + line for line in sample_text.split('\n'))
print("New_text after adding prefix:\n",result)

sample_text after splitting ['', 'my name is mahmoud okba ', 'works as senior qc engineer', '']
New_text after adding prefix:
 *
*my name is mahmoud okba
*works as senior qc engineer
*

In [92]:
prefix= '*'
sample_text ='''
myname is mahmoud okba 
works as senior qc engineer
'''
splittext=sample_text.split('\n')
print("sample_text after splitting: ",splittext)

for i in range (0,len(splittext)):
    print("New_text after adding prefix:\n",''.join(prefix+splittext[i]))

sample_text after splitting:  ['', 'myname is mahmoud okba ', 'works as senior qc engineer', '']
New_text after adding prefix:
 *
New_text after adding prefix:
 *myname is mahmoud okba
New_text after adding prefix:
 *works as senior qc engineer
New_text after adding prefix:
 *

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
float_num =float(input("please enter a float number:\n")) 
format_float = "{:.2f}".format(float_num)
print("new number is : ", format_float)

In [ ]:
float_num =float(input("please enter a float number:\n")) 
limit_float = round(float_num,2)
print("new number is : ", limit_float)

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
num1=float(input("please enter num1 with +ve sign:")) 
num2=float(input("please enter num2 with -ve sign:")) 
print("Original Number: ", num1)
print("New Number with sign is: ","{:+.2f}".format(num1));
print("Original Number: ", num2)
print("New Number with sign is: ","{:+.2f}".format(num2));

In [ ]:
num=float(input("please enter num with -ve/+ve sign:")) 
print("Original Number: ", num)
print("New Number with sign is: ","{:+.2f}".format(num));

**15-Write a Python program to display a number with a comma separator

In [ ]:
num=float(input("please enter any number:")) 
print("Original Number: ", num)
print("New Number with comma separator: "+'{:,.2f}'.format(num))

In [137]:
num=input("please enter any number:")
x=''
for i in num:
    x=x+i+','
print("Original Number: ", num)
print("New Number with comma separator: ", x[:-1])

please enter any number:13463
Original Number:  13463
New Number with comma separator:  1,3,4,6,3

**16-Write a Python program to reverse a string using 2 ways

In [111]:
string=input("enter any string: ")
reversestring = string[::-1]
print("The Orignal string is : ", string)
print("The reversed string is : ",reversestring)

enter any string: okba
The Orignal string is :  okba
The reversed string is :  abko

In [119]:
string=input("enter any string: ")
newstring = ""
for i in string:
    newstring = i +newstring
print("The original string is : ", string)
print("The reversed string(using loops) is : ", newstring)

enter any string: okba
The original string is :  okba
The reversed string(using loops) is :  abko

In [121]:
string=input("enter any string: ")
list1 = list(string)
reversestring = "".join(reversed(list1))
print("The original string is : ", string)
print("The reversed string(using reversed) is : ", reversestring)

enter any string: okba
The original string is :  okba
The reversed string(using reversed) is :  abko

In [123]:
string=input("enter any string: ")
list1 = list(string)
list1.reverse()
print("The original string is : ", string)
print("The reversed string(using reverse()) is : ", "".join(list1))

enter any string: okba
The original string is :  okba
The reversed string(using reverse()) is :  abko

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [149]:
sample_string='mahmoudhassanokba'
test_set=set(sample_string)
print("the sample string is : ",sample_string)
for i in test_set:
    result=sample_string.count(i)
    print("the char: ",i , " is repeated: ",result)

the sample string is :  mahmoudhassanokba
the char:  o  is repeated:  2
the char:  m  is repeated:  2
the char:  k  is repeated:  1
the char:  b  is repeated:  1
the char:  n  is repeated:  1
the char:  u  is repeated:  1
the char:  a  is repeated:  4
the char:  d  is repeated:  1
the char:  h  is repeated:  2
the char:  s  is repeated:  2

**18-Write a Python program to find the first non-repeating character in a given string

In [171]:
sample_string = input("enter any string: ")
print("the sample string is : ",sample_string)
for i in sample_string:
    if sample_string.count(i)==1:
        print ("the first non-repeating character is: ", i)
        break

enter any string: mahmodhassanokba
the sample string is :  mahmodhassanokba
there is no non-repeating character
there is no non-repeating character
there is no non-repeating character
there is no non-repeating character
there is no non-repeating character
the first non-repeating character is:  d

**19-Write a Python program to remove spaces from a given string

In [172]:
str=input("please enter a string: ")
new_str=str.replace(' ','')
print("New String after removing space", new_str)

please enter a string: mahmoud hassan okba
New String after removing space mahmoudhassanokba

In [ ]:
str=input("please enter a string: ")
def remove_spaces(str1):
  str1 =str1.replace(' ','')
  return str1
print("New String after removing space", remove_spaces(str))

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
str1 = input("Input a string: ")
str_len = len(str1)
substr_no=int(str_len * (str_len + 1) / 2)
print("Number of substrings : ",substr_no)

In [174]:
str1 = input("Input a string: ")
def substr(str):
    str_len = len(str) 
    return int(str_len * (str_len + 1) / 2)
print("Number of substrings : ",substr(str1))

Input a string: mahmoud hassan okba
Number of substrings :  190

**21-write a Python program to swap first and last element of any list.

In [199]:
input_list=input("enter   alist of element ")
sample_list=input_list.split()
print("the sample list is : ",sample_list)
x = sample_list[0]
sample_list[0] = sample_list[- 1]
sample_list[- 1] = x
print("the swapped 1st & last element in list is : ",sample_list)

enter   alist of element 45 11 15 9 56 17
the sample list is :  ['45', '11', '15', '9', '56', '17']
the swapped 1st & last element in list is :  ['17', '11', '15', '9', '56', '45']

In [200]:
sample_list= [45, 11, 15, 9, 56, 17]
print("the sample list is : ",sample_list)
sample_list[0], sample_list[-1] = sample_list[-1], sample_list[0]
print("the swapped 1st & last element in list is : ",sample_list)

the sample list is :  [45, 11, 15, 9, 56, 17]
the swapped 1st & last element in list is :  [17, 11, 15, 9, 56, 45]

In [201]:
sample_list= [45, 11, 15, 9, 56, 17]
print("the sample list is : ",sample_list)
first = sample_list.pop(0) 
last = sample_list.pop(-1)
sample_list.insert(0, last) 
sample_list.append(first)
print("the swapped 1st & last element in list is : ",sample_list)

the sample list is :  [45, 11, 15, 9, 56, 17]
the swapped 1st & last element in list is :  [17, 11, 15, 9, 56, 45]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [202]:
sample_list=[23, 65, 19, 90]
print("the sample list is : ",sample_list)
sample_list[0:3]=reversed(sample_list[0:3])
print("the swapped 1st & 3rd element in list is : ",sample_list)

the sample list is :  [23, 65, 19, 90]
the swapped 1st & 3rd element in list is :  [19, 65, 23, 90]

In [203]:
sample_list= [23, 65, 19, 90]
print("the sample list is : ",sample_list)
sample_list[0], sample_list[2] = sample_list[2], sample_list[0]
print("the swapped 1st & 3rd element in list is : ",sample_list)

the sample list is :  [23, 65, 19, 90]
the swapped 1st & 3rd element in list is :  [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [205]:
input_list=input("enter a list of element ")
sample_list=input_list.split()
print("the sample list is : ",sample_list)
print("the length of the list is : ", len(sample_list))

enter a list of element py java php js c c++
the sample list is :  ['py', 'java', 'php', 'js', 'c', 'c++']
the length of the list is :  6

In [206]:
input_list=input("enter a list of element ")
sample_list=input_list.split()
print("the sample list is : ",sample_list)
length = 0
for i in sample_list:
    length += 1
print("the length of the list is : ", length)

enter a list of element py java php js c c++
the sample list is :  ['py', 'java', 'php', 'js', 'c', 'c++']
the length of the list is :  6

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [211]:
input_list=input("enter a list of numbers ")
sample_list=input_list.split()

for i in range (0,len(sample_list)):
    sample_list[i]=int(sample_list[i])

print("the sample list is : ",sample_list)
print("the length of the list is : ", max(sample_list))

enter a list of numbers 23 65 19 90
the sample list is :  [23, 65, 19, 90]
the length of the list is :  90

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [212]:
input_list=input("enter a list of numbers ")
sample_list=input_list.split()

for i in range (0,len(sample_list)):
    sample_list[i]=int(sample_list[i])

print("the sample list is : ",sample_list)
print("the length of the list is : ", min(sample_list))

enter a list of numbers 23 65 19 90
the sample list is :  [23, 65, 19, 90]
the length of the list is :  19

**26-search for if an elem is existing in list

In [214]:
input_list=input("enter a list of numbers ")
sample_list=input_list.split()
for i in range (0,len(sample_list)):
    sample_list[i]=int(sample_list[i])
print("the sample list is : ",sample_list)

ele=int(input("enter the element you need to check: "))

print("the element you need to check: ", ele)

for i in range(0,len(sample_list)):
    if ele==sample_list[i]:
        print("element is found and it's index: ",i)

enter a list of numbers 15 63 48 952 444 15 234 76 61
the sample list is :  [15, 63, 48, 952, 444, 15, 234, 76, 61]
enter the element you need to check: 952
the element you need to check:  952
element is found and it's index:  3

**27- clear python list using different ways

In [215]:
list1=[25,63,78,19,12,776]
print ("original list is: ", list1)
list1.clear()
print ("New list is: ", list1)

original list is:  [25, 63, 78, 19, 12, 776]
New list is:  []

In [221]:
sample_list = [25, 63, 78, 19, 12, 776]
print ("The sample list is: " ,sample_list) 
for i in range(0,len(sample_list)):
    sample_list.remove(sample_list[0])
print ("New list is: ", sample_list)

The sample list is:  [25, 63, 78, 19, 12, 776]
New list is:  []

In [219]:
sample_list = [25, 63, 78, 19, 12, 776]
print ("The sample list is: " ,sample_list) 
for i in range(0,len(sample_list)):
    sample_list.pop(0)
print ("New list is: ", sample_list)

The sample list is:  [25, 63, 78, 19, 12, 776]
New list is:  []

In [220]:
sample_list = [25, 63, 78, 19, 12, 776]
print ("The sample list is: " ,sample_list) 
for i in range(0,len(sample_list)):
    del sample_list[0]
print ("New list is: ", sample_list)

The sample list is:  [25, 63, 78, 19, 12, 776]
New list is:  []

**28-remove duplicated elements from a list

In [223]:
sample_list = [11, 13, 15, 16, 13, 15, 16, 11] 
print ("The sample list is: " ,sample_list) 
new_list = [] 
for i in sample_list: 
    if i not in new_list: 
        new_list.append(i) 
print ("The list after removing duplicates : ", new_list)

The sample list is:  [11, 13, 15, 16, 13, 15, 16, 11]
The list after removing duplicates :  [11, 13, 15, 16]

In [224]:
sample_list = [11, 13, 15, 16, 13, 15, 16, 11] 
print ("The sample list is: " ,sample_list)
new_list = list(set(sample_list)) 
print ("The list after removing duplicates : ", new_list)

The sample list is:  [11, 13, 15, 16, 13, 15, 16, 11]
The list after removing duplicates :  [16, 11, 13, 15]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [250]:
test_list = ["Gfg", 3, "is", 8]
 
print("The original list : " , test_list)
 
key_list = ["name", "id"]

n = len(test_list)
res = []
for i in range(0, n, 2):
    res.append({key_list[0]: test_list[i], key_list[1] : test_list[i + 1]})

print("The list of dictionary : " , res)

The original list :  ['Gfg', 3, 'is', 8]
The list of dictionary :  [{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [259]:
sample_list= [1, 2, 2, 5, 8, 4, 4, 8]

new_set = set(input_list)
print("No of unique items in the list are:", len(new_set))

No of unique items in the list are: 5

In [258]:
sample_list= [1, 2, 2, 5, 8, 4, 4, 8]
 
new_list= []
counter=0
for i in sample_list:
    if i not in new_list:
        counter += 1
        new_list.append(i)
print("No of unique items in the list are:",counter)

No of unique items in the list are: 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [6]:
test_list=  [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k= int(input("enter the number of frequency: "))
output = []
for i in test_list:
    freq = test_list.count(i)
    if freq > k and i not in output:
        output.append(i)
print("the original list is: ",test_list)
print("New list with freq than K :", output)

enter the number of frequency: 2
the original list is:  [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
New list with freq than K : [4, 3]

In [267]:
test_list=  [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = int(input("enter the number of frequency: "))
output =  [i for i in set(test_list) if test_list.count(i) > k]
print("the original list is: ",test_list)
print("New list with freq than K :", output)

enter the number of frequency: 4
the original list is:  [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
New list with freq than K : []

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [8]:
sample_list=[1 , 2, 2, 3, 4, 5]
print ("the original list : ",sample_list)
result=[]
for i in range(0,len(sample_list)-1):
    if sample_list[i]<=sample_list[i+1]:
        result.append(sample_list[i+1])
print ("the Strongest Neighbour list : ",result)

the original list :  [1, 2, 2, 3, 4, 5]
the Strongest Neighbour list :  [2, 2, 3, 4, 5]

In [10]:
sample_list=[1 , 2, 2, 3, 4, 5]
print ("the original list : ",sample_list)
result=[]
for i in range(0,len(sample_list)-1):
    result.append(max(sample_list[i],sample_list[i+1]))
print ("the Strongest Neighbour list : ",result)

the original list :  [1, 2, 2, 3, 4, 5]
the Strongest Neighbour list :  [2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [11]:
def comb(L):
      
    for i in range(len(L)):
        for j in range(len(L)):
            for k in range(len(L)):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])
comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [24]:
def comb(L):
    result1=[]
    result2=[]
    result3=[]
    for i in range(len(L)):
        if i not in result1:
            result1.append(L[i])
            print(result1)
    for j in range(1,len(L)):
        result2.append(L[j])
        print(result2)
    for k in range(2,len(L)):
        result3.append(L[k])
        print(result3)
comb([1, 2, 3])

[1]
[1, 3]
[2]
[2, 3]
[3]

In [37]:
from itertools import chain, combinations
def powerset(iterable):
  s = list(iterable)
  return list(chain.from_iterable(combinations(s, r) for r in range(len(s)+1)))
nums = [1, 2, 3]
print("\nOriginal list elements:")
print(nums)
print("Powerset of the said list:")
print(powerset(nums))

Original list elements:
[1, 2, 3]
Powerset of the said list:
[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [15]:
list_1 = ["a", "b"]
list_2 = [1, 2]
 
unique_combination = []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique_combination.append([(list_1[i], list_2[j])])
 
print(unique_combination)

[[('a', 1)], [('a', 2)], [('b', 1)], [('b', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [42]:
s_list=[1,1,2,3,4,5,1,2,1]

ele=int(input("enter the element you need to remove: "))
new_list=[]
for i in s_list:
    if i != ele:
        new_list.append(i)

print("the sample list: ", s_list)
print ("the new list is: ", new_list)

enter the element you need to remove: 1
the sample list:  [1, 1, 2, 3, 4, 5, 1, 2, 1]
the new list is:  [2, 3, 4, 5, 2]

In [43]:
s_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
ele=int(input("enter the element you need to remove: "))
new_list=[i for i in s_list if i!=ele]

print("the sample list: ", s_list)
print ("the new list is: ", new_list)

enter the element you need to remove: 1
the sample list:  [1, 1, 2, 3, 4, 5, 1, 2, 1]
the new list is:  [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [1]:
list1=['Gfg','is','best']
list2=[0,1,2,1,0,0,0,2,1,1,2,0] 

print("the original list1 is : ", list1)
print("the original list1 is : ", list2)

for i in range (len(list2)):
    if list2[i]==0:
        list2[i]=list1[0] 
    elif list2[i]==1:
        list2[i]=list1[1] 
    else:
        list2[i]=list1[2]
    
print ("the new list after replacing index of elements: ", list2)

the original list1 is :  ['Gfg', 'is', 'best']
the original list1 is :  [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
the new list after replacing index of elements:  ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 Output : [(4, 5, 5, 4)] Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 Output : [] )

In [17]:
test_list=[(4, 5, 5, 4), (5, 4, 3)]
K=int(input("enter the element: "))
N=int(input("enter the number occurrences of element: "))
new_list=[]
for i in test_list:
    if i.count(K)==N:
        new_list.append(i)  
print (" the new list is : ",new_list)

enter the element: 5
enter the number occurrences of element: 2
 the new list is :  [(4, 5, 5, 4)]

In [11]:
test_list=[(4, 5, 5, 4), (5, 4, 3)]
K=int(input("enter the element: "))
N=int(input("enter the number occurrences of element: "))

print (" the test list : ",test_list)
new_list=[e for e in test_list if e.count(K)==N]

print (" the new list is : ",new_list)

enter the element: 5
enter the number occurrences of element: 3
 the test list :  [(4, 5, 5, 4), (5, 4, 3)]
 the new list is :  []

**39-write a Python Program to Sort the list according to the column using lambda array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Output : Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]] Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [26]:
s_array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
col=int(input("enter the column you need to sort array accor. to it: "))
print("the original array: ", s_array)
s_array.sort(key=lambda x:x[col])
print("the sorted array is : ", s_array)

enter the column you need to sort array accor. to it: 2
the original array:  [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
the sorted array is :  [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [29]:
s_array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
col=int(input("enter the column you need to sort array accor. to it: "))
print("the original array: ", s_array)
new_array=sorted(s_array, key=lambda x:x[col])
print("the sorted array is : ", new_array)

enter the column you need to sort array accor. to it: 1
the original array:  [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
the sorted array is :  [[2, 1, 2], [3, 2, 1], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [37]:
mydict={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print ("the original dictionary is: ",mydict)
# sort dict by key
mykeys=list(mydict.keys())
mykeys.sort()
new_dict={i:mydict[i] for i in mykeys}
print ("the sorted dictionary by keys is: ",new_dict)

the original dictionary is:  {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
the sorted dictionary by keys is:  {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [43]:
mydict={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print ("the original dictionary is: ",mydict)
# sort dict by value
mykeys=list(mydict.keys())
myvalues=list(mydict.values())
myvalues.sort()

new_dict={mykeys[i]:myvalues[i] for i in range(len(myvalues)) }
print ("the sorted dictionary by values is: ",new_dict)

the original dictionary is:  {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
the sorted dictionary by values is:  {'ravi': 2, 'rajnish': 9, 'sanjeev': 10, 'yash': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [34]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K=int(input("enter the value of k: "))
print("The original dictionary is : " , test_dict)
for key, val in list(test_dict.items()):
    if type(val)==int:
        if val > K :
            del test_dict[key]
print ("the new dictionary after Removing keys with Values Greater than K : ",test_dict)

enter the value of k: 5
The original dictionary is :  {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
the new dictionary after Removing keys with Values Greater than K :  {'Gfg': 3, 'geeks': 'CS'}

In [31]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K=int(input("enter the value of k: "))
print("The original dictionary is : " , test_dict)
new_dict = {}
for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > K):  
        new_dict[key] = test_dict[key]
         
print ("the new dictionary after Removing keys with Values Greater than K : ",new_dict)

enter the value of k: 1
The original dictionary is :  {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
the new dictionary after Removing keys with Values Greater than K :  {'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [41]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

print(" the original dictionaries dict1: ",dic1 ,", dict2: ", dic2 , ",and dict3: ", dic3)

new_dict={}
for d in dic1,dic2,dic3 : new_dict.update(d)
print(" the concatenated dictionary: ",new_dict)

 the original dictionaries dict1:  {1: 10, 2: 20} , dict2:  {3: 30, 4: 40} ,and dict3:  {5: 50, 6: 60}
 the concatenated dictionary:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [54]:
dict1={'ravi': 10, 'raji': 9, 'sanj': 15, 'yash': 2, 'sura': 32}
print("the original dictionary : ",dict1)
for key in dict1:
    print("the dict key is:",key,  ", with value:",dict1[key])

the original dictionary :  {'ravi': 10, 'raji': 9, 'sanj': 15, 'yash': 2, 'sura': 32}
the dict key is: ravi , with value: 10
the dict key is: raji , with value: 9
the dict key is: sanj , with value: 15
the dict key is: yash , with value: 2
the dict key is: sura , with value: 32

In [55]:
dict1={'ravi': 10, 'raji': 9, 'sanj': 15, 'yash': 2, 'sura': 32}
print("the original dictionary : ",dict1)
for key ,val in dict1.items():
    print("the dict key is:",key,  ", with value:",dict1[key])

the original dictionary :  {'ravi': 10, 'raji': 9, 'sanj': 15, 'yash': 2, 'sura': 32}
the dict key is: ravi , with value: 10
the dict key is: raji , with value: 9
the dict key is: sanj , with value: 15
the dict key is: yash , with value: 2
the dict key is: sura , with value: 32

**44- Write a Python script to merge two Python dictionaries

In [66]:
dict1= {"ahmed": 10, "ali": 20} 
dict2= {"mahmoud": 30, "mohamed": 40}
print(" the original dictionaries dict1: ",dict1 ,", dict2: ", dict2)

#update method 
dict1.update(dict2)

print ("the new dictionary after merging (update method): ", dict1)

# **  unpacking method 
new_dict={**dict1,**dict2}
print ("the new dictionary after merging (unpacking ** method): ", new_dict)

# unpacking 2nd dict method 
new_dict=dict(dict1,**dict2)
print ("the new dictionary after merging (unpacking 2nd dict method): ", new_dict)

 the original dictionaries dict1:  {'ahmed': 10, 'ali': 20} , dict2:  {'mahmoud': 30, 'mohamed': 40}
the new dictionary after merging (update method):  {'ahmed': 10, 'ali': 20, 'mahmoud': 30, 'mohamed': 40}
the new dictionary after merging (unpacking ** method):  {'ahmed': 10, 'ali': 20, 'mahmoud': 30, 'mohamed': 40}
the new dictionary after merging (unpacking 2nd dict method):  {'ahmed': 10, 'ali': 20, 'mahmoud': 30, 'mohamed': 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [70]:
dict1={'ahmed': 10, 'ali': 20, 'mahmoud': 30, 'mohamed': 40}
dict_max=max(dict1.values(),key=(lambda k:k))
dict_min=min(dict1.values(),key=(lambda k:k))

print("the maximum values of a dictionary values: " ,dict_max)

print("the minimum values of a dictionary values: " ,dict_min)

the maximum values of a dictionary values:  40
the minimum values of a dictionary values:  10

In [73]:
dict1={'ahmed': 10, 'ali': 20, 'mahmoud': 30, 'mohamed': 40}
dict_max=max(dict1, key=dict1.get)
dict_min=min(dict1, key=dict1.get)

print("the maximum values of a dictionary values: " ,dict1[dict_max])

print("the minimum values of a dictionary values: " ,dict1[dict_min])

the maximum values of a dictionary values:  40
the minimum values of a dictionary values:  10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [77]:
originalDict={'c1': 'Red', 'c2': 'Green', 'c3': None} 
new_dict={key:value for key,value in originalDict.items() if value is not None }
print("the Original Dictionary: ",originalDict)
print("the New Dictionary after dropping empty items: ",new_dict)

the Original Dictionary:  {'c1': 'Red', 'c2': 'Green', 'c3': None}
the New Dictionary after dropping empty items:  {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [83]:
t=5,12,6,3,4,8,9
print(" the tuple of number is:",t)
print (" the value of index 1: ", t[1])

 the tuple of number is: (5, 12, 6, 3, 4, 8, 9)
 the value of index 1:  12

In [88]:
n= int(input("enter the length of tuple: "))
t=[]
for i in range(n):
    ele=int(input("enter the elements of tuple: "))
    t.append(ele)
t=tuple(t)
print(" the tuple of number is:",t)
print (" the value of index 2: ", t[2])

enter the length of tuple: 7
enter the elements of tuple: 5
enter the elements of tuple: 12
enter the elements of tuple: 6
enter the elements of tuple: 3
enter the elements of tuple: 4
enter the elements of tuple: 8
enter the elements of tuple: 9
 the tuple of number is: (5, 12, 6, 3, 4, 8, 9)
 the value of index 1:  6

**48-Write a Python program to unpack a tuple into several variables

In [96]:
s_tuple=('ahmed', 25,'ali',36,'mahmoud',50,['okba',32])
x,*y,z=s_tuple
print("the sample of tuple : ",s_tuple)
print ("the variable x= " ,x ," and  y= ", y, ",and z= ",z)

the sample of tuple :  ('ahmed', 25, 'ali', 36, 'mahmoud', 50, ['okba', 32])
the variable x=  ahmed  and  y=  [25, 'ali', 36, 'mahmoud', 50] ,and z=  ['okba', 32]

In [99]:
s_tuple=('ahmed', 25,'ali',36,'mahmoud',50,['okba',32])
a,b,c,d,e,f,g=s_tuple
print("the sample of tuple : ",s_tuple)
print ("the variable a= " ,a ," and  b= ", b, ",and c= ",c ,"and d= ",d ,"and e= ",e ,"and f= ",f ,"and g= ",g)

the sample of tuple :  ('ahmed', 25, 'ali', 36, 'mahmoud', 50, ['okba', 32])
the variable a=  ahmed  and  b=  25 ,and c=  ali and d=  36 and e=  mahmoud and f=  50 and g=  ['okba', 32]

**49-Write a Python program to add an item to a tuple

In [107]:
s_tuple=('ahmed', 25,'ali',36,'mahmoud',50)

print("the sample of tuple : ",s_tuple)

new_tuple=s_tuple+(5,62,41)        # add tuple of items

print("the new tuple after adding items : ",new_tuple)

new_tuple=s_tuple+(100,)        # add one items

print("the new tuple after adding items : ",new_tuple)

new_tuple=list(new_tuple)          # convert to list and using fn append()
new_tuple.append("okba")
new_tuple=tuple(new_tuple)
print("the new tuple after adding items : ",new_tuple)

the sample of tuple :  ('ahmed', 25, 'ali', 36, 'mahmoud', 50)
the new tuple after adding items :  ('ahmed', 25, 'ali', 36, 'mahmoud', 50, 5, 62, 41)
the new tuple after adding items :  ('ahmed', 25, 'ali', 36, 'mahmoud', 50, 100)
the new tuple after adding items :  ('ahmed', 25, 'ali', 36, 'mahmoud', 50, 100, 'okba')

**50-Write a Python program to convert a tuple to a string

In [114]:
s_tuple=('mahmoud',7,'hassan',9,'okba')
string=""
for i in s_tuple:
    i=str(i)
    string=string+i
print("the sample of tuple : ",s_tuple)
print("the converted string : ",string)

the sample of tuple :  ('mahmoud', 7, 'hassan', 9, 'okba')
the converted string :  mahmoud7hassan9okba

In [116]:
s_tuple=('mahmoud','hassan','okba')
string="".join(s_tuple)
print("the sample of tuple : ",s_tuple)
print("the converted string : ",string)

the sample of tuple :  ('mahmoud', 'hassan', 'okba')
the converted string :  mahmoudhassanokba

**51-Write a Python program to convert a list to a tuple

In [117]:
s_list=['mahmoud',7,'hassan',9,'okba']
new_tuple=tuple(s_list)
print("the sample of list : ",s_list)
print("the new tuple : ",new_tuple)

the sample of list :  ['mahmoud', 7, 'hassan', 9, 'okba']
the new tuple :  ('mahmoud', 7, 'hassan', 9, 'okba')

In [121]:
s_list=['mahmoud',7,'hassan',9,'okba']
new_tuple=()

for i in s_list:
    new_tuple=new_tuple+(i,)
print("the sample of list : ",s_list)
print("the new tuple : ",new_tuple)

the sample of list :  ['mahmoud', 7, 'hassan', 9, 'okba']
the new tuple :  ('mahmoud', 7, 'hassan', 9, 'okba')

In [122]:
s_list=['mahmoud',7,'hassan',9,'okba']
new_tuple=(*s_list,)
print("the sample of list : ",s_list)
print("the new tuple : ",new_tuple)

the sample of list :  ['mahmoud', 7, 'hassan', 9, 'okba']
the new tuple :  ('mahmoud', 7, 'hassan', 9, 'okba')

**52-Write a Python program to reverse a tuple

In [123]:
s_tuple=('mahmoud','hassan','okba')
rev_tuple=s_tuple[::-1]
print("the sample of tuple : ",s_tuple)
print("the reverse tuple : ",rev_tuple)

the sample of tuple :  ('mahmoud', 'hassan', 'okba')
the reverse tuple :  ('okba', 'hassan', 'mahmoud')

In [142]:
s_tuple=('mahmoud','hassan','okba')
list1=list(s_tuple)
list1.reverse()
rev_tuple=tuple(list1)
print("the sample of tuple : ",s_tuple)
print("the reverse tuple : ",rev_tuple)

the sample of tuple :  ('mahmoud', 'hassan', 'okba')
the reverse tuple :  ('okba', 'hassan', 'mahmoud')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [145]:
s_list=[(10,20,40),(40,50,60),(70,80,90)]
k=int(input("enter the number you need to replace: "))

print("the sample of list : ",s_list)

new_list=[t[:-1]+(k,) for t in s_list]

print("the new list after replacing item : ",new_list)

enter the number you need to replace100
the sample of list :  [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
the new list after replacing item :  [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [146]:
s_list=[(10,20,40),(40,50,60),(70,80,90)]

k=int(input("enter the number you need to replace: "))

print("the sample of list : ",s_list)

for i in range(len(s_list)):
    new_list=list(s_list[i])
    new_list[-1] = k
    s_list[i]=tuple(new_list)
    
print("the new list after replacing item : ",s_list)

enter the number you need to replace: 100
the sample of list :  [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
the new list after replacing item :  [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [194]:
originalstring='python 3.0'

print("the Original string : ",originalstring)

new_tuple=tuple(originalstring)

print("the converted string to tuple : ",new_tuple)

the Original string :  python 3.0
the converted string to tuple :  ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

In [3]:
originalstring='python 3.0'

print("the Original string : ",originalstring)

new_tuple=()
for char in (originalstring):
    new_tuple=new_tuple+(char,)
print("the converted string to tuple : ",new_tuple)

the Original string :  python 3.0
the converted string to tuple :  ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [28]:
nums= ((3, 5, 4, 6), (21, 30, 10, 4), (8, 81, 34, 332), (156, 532, 513, 754))

nums=list(nums)
new_tuple=()
for i in nums:
    new_tuple=new_tuple+(sum(i)/len(i),)

print ("the original tuple of numbers: ",nums)    

print ("the average value of numbers: ",new_tuple)

the original tuple of numbers:  [(3, 5, 4, 6), (21, 30, 10, 4), (8, 81, 34, 332), (156, 532, 513, 754)]
the average value of numbers:  (4.5, 16.25, 113.75, 488.75)

**56-Write a Python program to add member(s) to a set.

In [47]:
s_set={15,32,"ali",20,465,1897,"ahmed"}

print("the sample set : ", s_set)

s_set.add(100)

print("the new set after adding an element: ", s_set)

s_set.add("okba")

print("the new set after adding an element: ", s_set)

the sample set :  {32, 465, 'ahmed', 20, 1897, 'ali', 15}
the new set after adding an element:  {32, 465, 'ahmed', 20, 100, 1897, 'ali', 15}
the new set after adding an element:  {15, 465, 20, 32, 'ahmed', 100, 1897, 'okba', 'ali'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [73]:
s_set={15,32,"ali",20,465,1897,"ahmed"}
ele1= int(input("enter the value of item you need to remove: "))

print("the sample set : ", s_set)

if ele1 in s_set:     
    s_set.remove(ele1)
    print("the new set after adding an element: ", s_set)
        
else:
    print ("this item is n't found in this set")

enter the value of item you need to remove: 15
the sample set :  {32, 465, 'ahmed', 20, 1897, 'ali', 15}
the new set after adding an element:  {32, 465, 'ahmed', 20, 1897, 'ali'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [83]:
set1= {0, 2, 4, 6, 8}
set2= {1, 2, 3, 4, 5}
  
print("the original sets : " ,set1,'and', set2)

print("the Union of sets :", set1 | set2)
  
#The intersection of two given set1 and set2 is a set which consists of all the elements which are common to both set1 and set2.

print("the Intersection of sets :", set1 & set2)
print("the Intersection of sets :", set1.intersection(set2))
  
# difference set1 - set2 is equal to the elements present in set1 but not in set2

print("the Difference of sets :", set1 - set2)                  
print("the Difference of sets :", set1.difference(set2))
  

print("the Symmetric difference of sets:", set1 ^ set2)

the original sets :  {0, 2, 4, 6, 8} and {1, 2, 3, 4, 5}
the Union of sets : {0, 1, 2, 3, 4, 5, 6, 8}
the Intersection of sets : {2, 4}
the Intersection of sets : {2, 4}
the Difference of sets : {0, 8, 6}
the Difference of sets : {0, 8, 6}
the Symmetric difference of sets: {0, 1, 3, 5, 6, 8}

Mathematical operations for set:

Union: | operator, union()
Intersection: & operator, intersection()
Difference: - operator, difference()
Symmetric difference: ^ operator, symmetric_difference()
Test if A is a subset of B: <= operator, issubset()
Test if A is a superset of B: >= operator, issuperset()
Test if A and B are disjoint: isdisjoint()

**59-Write a Python program to find the maximum and minimum values in a set

In [86]:
s_set={1, 2, 3, 4, 5}

print("the original set: ", s_set)

print ("the maximum value of set: ", max(s_set))

print ("the minimum value of set: ", min(s_set))

the original set:  {1, 2, 3, 4, 5}
the maximum value of set:  5
the minimum value of set:  1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [94]:
n=int(input("enter the length of list: "))
list1=[]
for i in range (n):
    ele=int(input("enter the elements of list: "))
    list1.append(ele)
print("the sample list: ",list1)

K=int(input("enter the sum of pairs elements of list: "))
result = []
for i in range(len(list1)):
    for j in range(i + 1, len(list1)):
        if list1[i] + list1[j] == K:
                result.append((list1[i], list1[j]))

print("the pairs of elements in a list",result)

enter the length of list: 9
enter the elements of list: 4
enter the elements of list: 0
enter the elements of list: 3
enter the elements of list: 7
enter the elements of list: 6
enter the elements of list: 4
enter the elements of list: 8
enter the elements of list: 2
enter the elements of list: 6
the sample list:  [4, 0, 3, 7, 6, 4, 8, 2, 6]
enter the sum of pairs elements of list: 10
the pairs of elements in a list [(4, 6), (4, 6), (3, 7), (6, 4), (4, 6), (8, 2)]